<h1 class="text-center"><%= t('.title') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :first_name, t('.first_name_label'), class: 'form-label' %>
    <%= f.text_field :first_name, class: 'form-control', placeholder: t('.first_name_label') %>
  </div>

  <div class="mb-3">
    <%= f.label :last_name, t('.last_name_label'), class: 'form-label' %>
    <%= f.text_field :last_name, class: 'form-control', placeholder: t('.last_name_label') %>
  </div>

  <div class="mb-3">
    <%= f.label :business_name, t('.business_name_label'), class: 'form-label' %>
    <%= f.text_field :business_name, class: 'form-control', placeholder: t('.business_name_label') %>
  </div>

  <div class="mb-3">
    <%= f.label :phone_number, t('.phone_number_label'), class: 'form-label' %>
    <%= f.telephone_field :phone_number, class: 'form-control', placeholder: t('.phone_number_label') %>
  </div>

 <div class="mb-3">
  <%= f.label :business_category, t('registrations.form.business_category.label'), class: "form-label" %>
  <%= f.select :business_category,
        options_for_select([
          [t('registrations.form.business_category.options.retail'),       'retail'],
          [t('registrations.form.business_category.options.services'),     'services'],
          [t('registrations.form.business_category.options.manufacturer'), 'manufacturer'],
          [t('registrations.form.business_category.options.other'),        'other']
        ], f.object.business_category),
        { include_blank: true },
        class: "form-select" %>
</div>


  <div class="mb-3">
    <%= f.label :email, t('.email_label'), class: 'form-label' %>
    <%= f.email_field :email, class: 'form-control', placeholder: t('.email_label') %>
  </div>

  <div class="mb-3">
    <%= f.label :password, t('.password_label'), class: 'form-label' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('.password_label') %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, t('.password_confirmation_label'), class: 'form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t('.password_confirmation_label') %>
  </div>

  <div class="mb-3 d-grid">
    <%= f.submit t('.submit'), class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<div class="text-center">
  <%= link_to t('.login'), new_session_path(resource_name) %>
</div>
