<h2><%= t('devise.registrations.new.title') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name, t('devise.registrations.new.first_name') %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, t('devise.registrations.new.last_name') %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :business_name, t('devise.registrations.new.business_name') %><br />
    <%= f.text_field :business_name %>
  </div>

  <div class="field">
    <%= f.label :phone_number, t('devise.registrations.new.phone_number') %><br />
    <%= f.telephone_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :business_category, t('devise.registrations.new.business_category') %><br />
    <%= f.select :business_category, options_for_select(['Retail', 'Service', 'Manufacturing', 'Other'], resource.business_category) %>
  </div>

  <div class="field">
    <%= f.label :email, t('devise.registrations.new.email_label') %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, t('devise.registrations.new.password_label') %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('devise.registrations.new.password_confirmation_label') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.new.submit') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
