<h2><%= t('fsp_devise.passwords.edit.title') %></h2>

<%= form_for(resource,
             as: resource_name,
             url: password_path(resource_name),
             html: { method: :put }) do |f| %>

  <%= render "fsp_users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, t('fsp_devise.passwords.edit.new_password_label') %><br />
    <% if @minimum_password_length %>
      <em><%= t('fsp_devise.passwords.edit.new_password_min_length', count: @minimum_password_length) %></em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('fsp_devise.passwords.edit.confirm_password_label') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('fsp_devise.passwords.edit.submit') %>
  </div>
<% end %>

<%= render "fsp_users/shared/links" %>
