<h2><%= t('fsp_devise.registrations.edit.title') %></h2>

<%= form_for(resource,
             as: resource_name,
             url: registration_path(resource_name),
             html: { method: :put }) do |f| %>

  <%= render "fsp_users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, t('fsp_devise.registrations.edit.email_label') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>
      <%= t('fsp_devise.registrations.edit.reconfirmation_notice',
             unconfirmed_email: resource.unconfirmed_email) %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password, t('fsp_devise.registrations.edit.password_label') %>
    <i><%= t('fsp_devise.registrations.edit.password_hint') %></i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('fsp_devise.registrations.edit.password_min_length',
                count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,
                t('fsp_devise.registrations.edit.password_confirmation_label') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password,
                t('fsp_devise.registrations.edit.current_password_label') %>
    <i><%= t('fsp_devise.registrations.edit.current_password_hint') %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('fsp_devise.registrations.edit.submit') %>
  </div>
<% end %>

<h3><%= t('fsp_devise.registrations.edit.cancel_account_title') %></h3>

<div>
  <%= t('fsp_devise.registrations.edit.cancel_account_prompt') %>
  <%= button_to t('fsp_devise.registrations.edit.cancel_account_button'),
                registration_path(resource_name),
                data: { confirm: t('fsp_devise.registrations.edit.confirm_prompt'),
                        turbo_confirm: t('fsp_devise.registrations.edit.confirm_prompt') },
                method: :delete %>
</div>

<%= link_to t('fsp_devise.registrations.edit.back_link'),
            (request.referer || root_path) %>
