<p><%= t('fsp_devise.mailer.reset_password_instructions.greeting', email: @resource.email) %></p>

<p><%= t('fsp_devise.mailer.reset_password_instructions.instructions') %></p>

<p>
  <%= link_to t('fsp_devise.mailer.reset_password_instructions.change_link'),
              edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t('fsp_devise.mailer.reset_password_instructions.ignore_notice') %></p>
<p><%= t('fsp_devise.mailer.reset_password_instructions.warning') %></p>
