<!-- BEGIN app/views/devise/mailer/reset_password_instructions.html.erb -->
<p><%= t("devise.mailer.greeting", default: "Hello %{email}!", email: @resource.email) %></p>

<p><%= t("devise.mailer.reset_password_instructions.intro", default: "Someone has requested a link to change your password. You can do this through the link below.") %></p>

<p>
  <%= link_to t("devise.mailer.reset_password_instructions.cta", default: "Change my password"),
              main_app.edit_user_password_url(
                reset_password_token: @token,
                locale: (defined?(I18n) ? I18n.locale : :en)
              ) %>
</p>

<p><%= t("devise.mailer.reset_password_instructions.outro_1", default: "If you didn't request this, please ignore this email.") %></p>
<p><%= t("devise.mailer.reset_password_instructions.outro_2", default: "Your password won't change until you access the link above and create a new one.") %></p>
<!-- END app/views/devise/mailer/reset_password_instructions.html.erb -->
