<div id="<%= dom_id expense %>">
  <p>
    <strong><%= t('expenses.show.name') %>:</strong>
    <%= expense.name %>
  </p>

  <p>
    <strong><%= t('expenses.show.amount') %>:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong><%= t('expenses.show.category') %>:</strong>
    <%= expense.category %>
  </p>

  <p>
    <strong><%= t('expenses.show.date') %>:</strong>
    <%= l(expense.date, format: :ymd) %>
  </p>

  <p>
    <strong><%= t('expenses.show.user') %>:</strong>
    <%= expense.user_id %>
  </p>
</div>
