<div class="row">
  <div class="col-sm-6">
    <h1><%= t('expenses.index.title') %></h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to t('expenses.index.add_new'), new_expense_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="table-responsive mt-3">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('expenses.index.columns.name') %></th>
        <th><%= t('expenses.index.columns.amount') %></th>
        <th><%= t('expenses.index.columns.category') %></th>
        <th><%= t('expenses.index.columns.date') %></th>
        <th><%= t('expenses.index.columns.user') %></th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <%= content_tag :tr, id: dom_id(expense), class: dom_class(expense) do %>
          <td><%= link_to expense.name, expense %></td>
          <td><%= number_to_currency(expense.amount, unit: t('currency.unit'), precision: 0) %></td>
          <td><%= expense.category %></td>
          <td><%= l(expense.date, format: :ymd) %></td>
          <td><%= expense.user&.name %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
