<div id="<%= dom_id product %>">
  <p>
    <strong><%= t('products.fields.name') %>:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong><%= t('products.fields.category') %>:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong><%= t('products.fields.price') %>:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong><%= t('products.fields.quantity') %>:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong><%= t('products.fields.user') %>:</strong>
    <%= product.user_id %>
  </p>
</div>
