<div class="row">
  <div class="col-sm-6">
    <h1><%= t('products.index.title') %></h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to t('products.index.add_new'), new_product_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="table-responsive mt-3">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('products.index.columns.name') %></th>
        <th><%= t('products.index.columns.category') %></th>
        <th><%= t('products.index.columns.price') %></th>
        <th><%= t('products.index.columns.quantity') %></th>
        <th><%= t('products.index.columns.user') %></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <%= content_tag :tr, id: dom_id(product), class: dom_class(product) do %>
          <td><%= link_to product.name, product %></td>
          <td><%= product.category %></td>
          <td><%= number_to_currency(product.price, unit: t('currency.unit'), precision: 0) %></td>
          <td><%= product.quantity %></td>
          <td><%= product.user&.name %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
