<div class="page-header">
  <%= link_to t('products.show.back_to_all'), products_path, class: 'btn btn-default' %>
  <%= link_to t('products.show.edit'), edit_product_path(@product), class: 'btn btn-primary' %>
  <h1><%= t('products.show.title') %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= t('products.show.name') %>:</dt>
  <dd><%= @product.name %></dd>

  <dt><%= t('products.show.category') %>:</dt>
  <dd><%= @product.category %></dd>

  <dt><%= t('products.show.price') %>:</dt>
  <dd><%= number_to_currency(@product.price, unit: t('currency.unit'), precision: 0) %></dd>

  <dt><%= t('products.show.quantity') %>:</dt>
  <dd><%= @product.quantity %></dd>

  <dt><%= t('products.show.user') %>:</dt>
  <dd><%= @product.user&.name %></dd>
</dl>
