<div id="<%= dom_id sale %>">
  <p>
    <strong>Product:</strong>
    <%= sale.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sale.quantity %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= sale.total_price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sale.date %>
  </p>

</div>
