<div class="row">
  <div class="col-sm-6">
    <h1><%= t('sales.index.title') %></h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to t('sales.index.add_new'), new_sale_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="table-responsive mt-3">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('sales.index.columns.product') %></th>
        <th><%= t('sales.index.columns.quantity') %></th>
        <th><%= t('sales.index.columns.total_price') %></th>
        <th><%= t('sales.index.columns.user') %></th>
        <th><%= t('sales.index.columns.date') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sales.each do |sale| %>
        <%= content_tag :tr, id: dom_id(sale), class: dom_class(sale) do %>
          <td><%= sale.product&.name %></td>
          <td><%= sale.quantity %></td>
          <td><%= number_to_currency(sale.total_price, unit: t('currency.unit'), precision: 0) %></td>
          <td><%= sale.user&.name %></td>
          <td><%= l(sale.date, format: :ymd) %></td>
          <td><%= link_to t('sales.index.show'), sale %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
